body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/5555.jpg");
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
  }
  .right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
  }
  .color{
    color: red;
}
.color2{
  color: aliceblue;
}

  