{% extends "layout.html" %}

{% block body %}


<div class="card mb-3 " style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/images/Tamiya-min.jpg" class="card-img" alt="Akhenaten">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> 1. TAMIYA  </h5>
          <p class="card-text"> Tamiya (Egyptian Falafel) is the most popular fast food to try in Egypt. Tamiya is made of cooked fava beans putting together in a dough and later fried. You can find Tamiya or Egyptian Falafel as street food almost everywhere. You can eat with bread or salad and Egyptian Falafel is a perfect vegetarian food in Egypt.</p>
          <h5 class="card-text">Average Rating: {{ TAMIYA }}</h5>

        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3 " style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/images/koshary-1.jpeg" class="card-img" alt="Akhenaten">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> 2. KOSHARI </h5>
          <p class="card-text">Koshari is one of the most popular lunch to try in Egypt. Koshari is made of rice, macaroni, lentils, with tomato sauce, garlic, vinegar, onion and chili sauce. Koshari sounds like a strange mix but it’s so delicious!</p>
          <h5 class="card-text">Average Rating: {{ KOSHARI }}</h5>
        </div>
      </div>
    </div>
  </div>



  <div class="card mb-3 " style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/images/Molokhia-min.jpg" class="card-img" alt="Akhenaten">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> 3. Mulukhiyah </h5>
          <p class="card-text">
            Molokhia is made from Molokhia leaves after they are finely chopped with garlic and coriander. The leaves are then boiled with chunks of meat, such as boneless chicken, lamb or rabbit. Molokhia is served with rice or Egyptian flatbread.</p>
            <h5 class="card-text">Average Rating: {{ Mulukhiyah }}</h5>
        </div>
      </div>
    </div>
  </div>






{% endblock %}