{% extends "layout.html" %}

{% block body %}


  
  <div class="center" style="width: 18rem;">
    <img src="../static/images/Egypt-Summer-Travels_17bda4c63c4_original-ratio.jpg" class="card-img-top" alt="egyption tourism">
    <div class="card-body">
      <h5 class="card-title  color">Tourism</h5>
      <p class="card-text color2">If you love the sea, we have two, and a river or desert in a large part of our country, and medical tourism. Here are some types of tourism.</p>
      <a href="/tourism" class="btn btn-primary">About tourism</a>
    </div>
  </div>

  <div class="left" style="width: 18rem;">
    <img src="../static/images/pexels-madeinegyptca-10445962.jpg" class="card-img-top" alt="egyption foods">
    <div class="card-body">
      <h5 class="card-title color">Foods</h5>
      <p class="card-text color2">You will be unlucky if you have never tried one of these dishes before.</p>
      <a href="/food" class="btn btn-primary">About foods</a>
    </div>
  </div>

  <div class="right" style="width: 18rem;">
    <img src="../static/images/wallpaperflare.com_wallpaper (1).jpg" class="card-img-top" alt="history of egypt">
    <div class="card-body">
      <h5 class="card-title color">History</h5>
      <p class="card-text color2">This may be a good opportunity to learn a little about the oldest civilization on earth, this is Egypt.</p>
      <a href="/history" class="btn btn-primary">About history</a>
    </div>
  </div>
  
{% endblock %}